body{
    font-family: 'Josefin Sans', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
}
#cover{
background-image: url(images/donation13.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.top-banner{
    padding-top: 10vh;
    text-align: center;
}
.top-banner h1{
    font-size: 50px;
    color: rgb(233, 232, 240);
}
.top-banner p{
    font-size: 25px;
    color: rgb(62,202,230);
}
.button{
    text-decoration: none;
    border: 10px;
    background-color:#FF5959;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.second{
    text-align: center;
}
.header{
    font-size: 40px;
}
.peragraph{
    color: #707070;
    font-size: 20px;
}
.amount{
    display: flex;
    padding-left: 30%;
    padding-right: 5%;
    border-radius: 5px;
    
}
.amount-value{
    Width: 135px;
    Height: 123px;
    Top:979px; 
    Left:653px; 
    border-radius:5px;
}
#amount-two{
    color: #FF5959;
    Width: 136px; 
    Height: 123px; 
    Top: 979px;
    Left: 495px;
    border: solid 5px #FFEEEE;
    text-align: center;
    margin-right: 20px;
}
#ammount-input{
    margin-left: 70vh;
    width: 80vh;
    
}
#second-button{
   margin-left: 90vh;
   margin-top: 5vh;
}